*{
user-select: none;
    padding: 0%;
    margin: 0%;
}
.main{
    width: 100vw;
    background: linear-gradient(to top, rgba(0,0,0,0.5)80%, rgba(0,0,0,0.5)60%) ,url(bk.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.navbar{
  
    height: 20vh;
    margin: 0px 10vw;
    background-color: rgba(173, 131, 131, 0.131);
   
   
}
.icon{
    width: 10vw;
 
    float: left;
    height: 20vh;
}

.logo{
    color: rgb(255, 132, 0);
    font-size: 28px;
    text-align: center;
    margin-top: 20px ;
    
    
}
/* .icon:hover{
    animation: moveInLeft 2s ease  ;
} */
.menu{
   width: 50vw;
   height: 10vh;
   float: left;
}
.menu ul{
    display: flex;
    list-style: none;
    align-items: center;
    float: left;
}
.menu ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
.menu ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: ease-in-out 0.5;
    
   
}
.menu ul li a:hover{
    color: rgb(255, 132, 0);
  
}
.search{
    float: left;
    width: 290px;
    margin-left: 666px;
    margin-top: -30px;
 
}
.srchbox{
    border-right: none;
    width: 200px;
    height: 40px;
    background: transparent;
    float: left;
    font-family: revert;
    border: 1px solid rgb(255, 132, 0);
    font-size: 16px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    color: white;
 
}
.btn{
    float: left;
    width: 60px;
    height: 40px;
    background-color: rgb(255, 132, 0);
    border-right:none;
    border: 2px solid rgb(255, 132, 0);
}
.srchbox:focus{
    outline: none;
}
.btn:focus{
    outline: none;
}


.content{
    width: 100%;
    height: 69vh;
    margin: auto;
    position: relative;

}

.content h1{
    color: white;
    font-size: 50px;
    margin-top: 50px;
    margin-left: 100px;
    animation-name: moveInLeft;
    animation-duration: 0.5s;
    /* animation-delay: 2s; */
    /* animation-direction: reverse; */
animation-timing-function: linear;
backface-visibility: hidden;
/* animation-iteration-count: infinite; */


}
@keyframes moveInLeft {
    0%{
opacity: 0;
transform: translateX(-100px) ;

    }
    50%{
        opacity: 0.5;
        transform: translateX(130px) ;
    }
    100%
    {
opacity: 1;
transform: translate(0);
    }
}

.content span{
    font-size: 60px;
    color: rgb(255, 132, 0);
}
 .per{
    color: rgb(255, 132, 0);
    margin-top: 10px;
    margin-left: 100px;
}
.btnContent
{ cursor: pointer;
    margin-left: 100px;
    margin-top: 20px;
    width: 118px;
    height: 40px;
    background-color: rgb(255, 132, 0);
    border: 1px solid;
    border-radius: 14px;
    font-size: 17px;
    
    text-align: center;
}
.btnContent a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: .5s ease;
    cursor: pointer;
}

.btnContent:hover{
    background-color: whitesmoke;
    transition: .5s ease;
    

}
.btnContent a:hover{
    color: tomato;
}
.btnContent:focus{
    outline: black;
}

.form{
    width: 20vw;
    height: 50vh;
position: absolute;
background: linear-gradient(to top ,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%);
top: 30px;
left: 60vw;
padding: 20px;
border-radius: 10px;
box-shadow: 10px 0px rgba(0, 0, 0, 38%);


}
.form h2{
    font-family: cursive;
    width: auto;
    height: auto;
    background-color: chocolate;
  border-radius: 10px;
  border: 1px solid chocolate ;

    color: white;
    text-align: center;
    position: relative;
    top: 10px;
}

.form input{
    margin-top: 10px;
    width: 267px;
    height: 30px;
    position: relative;
    top: 10px;
    background: transparent;
    border: none;
    text-decoration-line: blink;
    /* text-decoration: auto; */
    border-bottom: 2px solid rgb(255, 132, 0);
    color: white;
    font-size: 14px;
}
.form input:focus{
    outline: none;
}
.form .btnForm{
    position: relative;
    top: 45px;
    width: 270px;
    height: 32px;
    border-radius: 10px;
    background-color: rgb(255, 132, 0);
    border: none;
    cursor: pointer;

}
.form .btnForm a{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
    font-family: cursive;
    cursor: pointer;
}
.form .perForm
{
    position: relative;
    top: 50px;
    color: white;

}
.form .aSignupForm{
    position: relative;
    top: 60px;
    text-decoration: none;
    color: aqua;
    font-size: unset;
    font-family: cursive;
    
}

.form .btnForm:hover{
    background-color: yellowgreen;
    box-shadow: 2px 2px white;
    transition: 0.2s ease-in;
}

.form .aSignupForm:hover{
    font-size: 20px;
transition: 0.2s ease-in-out;
}

.icons a{
    color: blanchedalmond;
    position: relative;
    top: 50px;
}